body {
    font-size: 15px;
    background-color: #171717;
    color: #efefef;
}

body .navbar {
    border-bottom: 1px solid #333;
    font-size: 20px;
    background-color: #222327;
}

body .navbar .navbar-brand {
    font-size: 25px;
}

.card {
    background-color: rgba(0, 0, 0, 0);
    width: auto;
    height: auto;
}

.card-columns .card {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
}

.jumbotron .avatar {
    width: 100px;
}


.card img {
    border-radius: 0;
}


.card-columns {
    -webkit-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 0;
    column-gap: 0;
}

.item {
    height: 200px;
}

.post-image {
    max-height: 700px;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
}

.jumbotron {
    height: 100%;
    background-color: #333;
    max-height: 500px;
}

.jumbotron .user-display .name {
    margin: auto 10px;
}

.jumbotron .user-display .avat {
    height: 100px;
}

/*.comments-block {*/
/*    margin-bottom: 20px;*/
/*    margin-top: 20px;*/
/*}*/

/*.comments-block .comments {*/
/*    display: -webkit-inline-box;*/
/*    display: -ms-inline-flexbox;*/
/*    display: inline-flex;*/
/*    -ms-flex-line-pack: center;*/
/*    align-content: center;*/
/*}*/

.likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.likes button {
    margin: auto 0;
}

.likes p {
    margin: auto 5px;
}

#likeButton {
    transition: 0.4s;
}

.user-comment-icon {
    width: 50px;
}

.comments-block .comm {
    max-height: 30px;
}

#if-login {
    justify-content: space-evenly;
}

@media (max-width: 576px) {
    .for-all {
        display: flex;
    }

    .for-medium {
        display: none;
    }


}

@media (min-width: 576px) and (max-width: 768px) {
    /*#search-input {*/
    /*    width: 600px;*/
    /*}*/
    /*#search {*/
    /*    margin-right: 20px;*/
    /*}*/
    /*.navbar-toggler {*/
    /*    width: 200px;*/
    /*}*/
    /*#main-menu {*/
    /*    display: flex;*/
    /*    justify-content: stretch;*/
    /*}*/
    /*#main-menu .nav-item{*/
    /*    padding-right: 10px;*/
    /*}*/
    .for-all {
        display: none;
    }

    .for-medium {
        display: flex;
    }

    .for-medium #toggler button {
        width: 200px;
    }
}

@media (min-width: 768px) {
    #if-login .nav-item {
        margin: 0 20px;
    }

    .navbar-toggler {
        width: 90px;
    }

    .for-medium {
        display: none;
    }

    .for-all {
        display: flex;
    }

    /*#for-user{*/
    /*    margin-right: 20px;*/
    /*}*/
}

@media (min-width: 1024px) {
    #if-login {
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    #if-login .nav-item {

    }

    .navbar-toggler {
        width: 90px;
        padding-left: 20px;
    }

}

@media (min-width: 1150px) {
    #if-login {
        justify-content: flex-end;
        width: 550px;
    }
}

@media (min-width: 1250px) {
    #if-login {
        justify-content: flex-end;
        width: 700px;
    }
}

@media (min-width: 1250px) {
    #if-login {
        justify-content: flex-end;
    }
}

@media (min-width: 1700px) {
    #if-login {
        justify-content: stretch;
        padding-right: 250px;
    }
}

@media (min-width: 1900px) {
    #if-login {
        justify-content: stretch;
        padding-right: 200px;
    }
}

@media (min-device-width: 2200px) {
    #if-login {
        padding-left: 600px;
    }
}

@media (min-device-width: 2400px) {
    #if-login {
        padding-left: 700px;
    }
}


/*# sourceMappingURL=main.css.map */


